.fg-found-locator {
    border: thin solid #0000FF !important;
}

.fg-found-locator:hover {
    background-color: #ADD8E6 !important;
    opacity: 1;
}

.steps-option {
    display: flex;
    margin: 2px;
    padding: 2px;
}

.steps-option:hover {
    background-color: #FAFAFA;
    color: #33A1DE;
    cursor: pointer;
}

.suggestion-mode {
    border-color: #33A1DE;
    border-width: 10px;
    border-style: solid;
}
