#steps_part_table {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

#steps_part {
    display: table-row;
    overflow:hidden;
    width: 100%;
}

#steps_suggestions {
    border-style: solid;
    border-width: 1px;
    height:100%;
}

#steps_suggestions_block {
    display: none;
    width: 20%;
}

#generated_steps_section {
    display: table-cell;
    width: 80%;
}

#generatedFeatures {
    border-style: solid;
    border-width: 1px;
    height:100%;
    width:95%;
    white-space:pre-line;
}

.current_suggestion {
    background-color: yellow;
}